<!doctype html>
<html>
<head>
	<meta charset="utf-8"/>
	<title>koa</title>

	<style type="text/css">
		body{
				margin:0;
				padding: 0;
				font-size: 12px;
		}
		ul{
				margin: 0;
				padding: 0;
				list-style-type: none;
		}

	</style>
</head>
<body>
	

	{{{msg}}}

	
</body>
</html>